body {
    margin: 0 auto;
    padding: 0.25rem;
    background: black;
    color: white;
}

.camera-container {
    position: relative;
}

.camera-container #video {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.camera-container #canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.camera-container .btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    margin: 10px;
}

.barcode-list {
    background: rgba(0, 0, 0, 0.53);
    margin-top: 20px;
    text-align: left;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.barcode-list h2 {
    font-size: small;
}

.barcode-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.js-barcode-value {
    font-family: monospace;
    font-weight: bold;
    flex-grow: 1;
    margin-right: 10px;
}

.btn {
    border: none;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}

.copy-btn {
    background-color: #28a745;
    color: white;
}

.copy-btn.copied {
    background-color: #6c757d;
}

.clear-btn {
    color: white;
    background-color: #dc3545;
}
