body {
    margin: 0 auto;
    padding: 0.25rem;
    background: black;
    color: white;
}

.camera-container {
    position: relative;
}

.camera-container #video {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.camera-container #canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.camera-container .btn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    margin: 10px;
}

.camera-container .switch-camera-btn {
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background: #00000080;
}


.btn {
    border: none;
    padding: 4px 8px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
}